In [1]:
import re
import pandas as pd

In [2]:
tuyendung = pd.read_csv("output1.csv")
tuyendung.head()

            post_id                                            content images
0  2860452447455049  ÄÃ€ Náº´NG OPEN JOB PHP/ JAVA/ TESTER/ REACTJS ğŸ¤¤ğŸ¤¤...     []
1  2860258800807747  Xin chÃ o cáº£ nhÃ  áº¡. Green Technology.STC má»Ÿ rá»™n...     []
2  2860363647463929  ğŸ”¥ EST ROUGE ÄÃ€ Náº´NG TUYá»‚N Dá»¤NG LEVEL Tá»ª FRESHE...     []
3  2857712567729037  ğŸ”¥ğŸ”¥ğŸ”¥ Vá»šI Má»¤C TIÃŠU R500, Äáº T 500 NHÃ‚N Sá»° CUá»I NÄ‚...     []
4  2622792804554349  ğŸ”¥ğŸ”¥ğŸ”¥ [ÄÃ  Náºµng] Khá»Ÿi Ä‘á»™ng chÆ°Æ¡ng trÃ¬nh Ä‘Ã o táº¡o v...     []

In [13]:
company_name =' \[(?!HN\]|HCM\])(.*?)\]|.*CÃ”NG TY TNHH.*|(.*?)(?=TUYá»‚N Dá»¤NG|tuyá»ƒn dá»¥ng|recruit)'

In [14]:
matches = re.findall(company_name , recruitment1)
matches

[('VNG Corp', '')]

In [22]:
salary =  r'Má»©c lÆ°Æ¡ng:\s*(.*)'

In [23]:
matches = re.findall(salary, recruitment1)
matches

['14 Triá»‡u - 16 Triá»‡u/thÃ¡ng']

In [ ]:
position = 'F'